main {
    max-width: 900px;
    margin: auto;
    background-color: gainsboro;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card{
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
}

.card .card-image{
    width: 100%;
    height: 150px;
}

.card .card-text{
    color: red;
}

.card .card-btn{
    text-decoration: none;
    color: black;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}